$font-stack: Arial, Helvetica, sans-serif;
$background-color: #ccc;
$bordes: #fa0;

$hover: #aaa;

.unfinished {
    background-color: red;    
}

body {
    background-color: $background-color;
    margin: 0 auto;
    
    font-family: $font-stack;
}

.nav {

    margin-bottom: 5px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        border: $bordes solid;
        border-width: 2px;

        a:link, a:visited {

            display: block;
            color: black;
            font-weight: bold;
            text-align: center;
            padding: 4px 10px;
            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover, a:active {
            background-color: $hover;
        }
    }

}

.horizontal.nav {
    li {
        float: left;
    }
}

.vertical.nav {
    display: inline-block;
}

#header {
    box-shadow: 0px 0px 10px;
    position: fixed;
    top: 0px;
    background-color: $background-color;
    width: 100%;

    img {
        float: left;
    }

    li {
        border-width: 0 2px 0 0;
    }
    .logout {
        float: right;
        border-width: 0 0 0 2px;
    }

}

#content {
    padding: 33px 0 0 5px;
}

h1 {
    margin-top: 0;
}

.container {
    width: 328px;
    border: solid 4px;
    border-radius: 10px;
    padding: 8;
    border-color: $bordes;
    margin: 30px auto 0 auto;

    h2 {
        margin: 0 0 -30 0;
        position: relative;
        top: -35;
        left: 10;
        z-index: 1;
        background-color: $background-color;
        padding: 5;
        border: solid 4px;
        border-color: $bordes;
        border-radius: 20px;
    }
}

.form {
    border: solid 4px;
    border-radius: 10px;
    padding: 8px;
    border-color: $bordes;
    margin: 30px auto 0 auto;
    width: 700px;
    .campo {
        border-bottom: solid 1px;
    }
}

.formrequired {
    font-weight: bold;
    text-decoration: underline;
}

#userpanel_container {
    h2 {
        width: 193;
    }
}

#login_container {
    h2 {
        width: 90;        
    }
    .error {
        overflow: auto;
        span {
            overflow: hidden;
            float: right;
        }
    }
}

.campo {
    overflow: auto;
    .label {
        span {
            float: left;
        }
    }
    .input {
        /*input, select, span { */
            float: right;
            /*}*/
        }
    }

    #result {
        td, th {
            white-space: nowrap;
        }
    }


