.unfinished {
  background-color: red; }

body {
  background-color: #cccccc;
  /* height: 100%; */
  /* width: 1024px; */
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }

.horizontalnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
.horizontalnav li {
  float: left;
  border: #ffaa00 solid;
  border-width: 2px; }
  .horizontalnav li a:link, .horizontalnav li a:visited {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    text-transform: uppercase; }
  .horizontalnav li a:hover, .horizontalnav li a:active {
    background-color: #aaaaaa; }

#header {
  box-shadow: 0px 0px 10px; }
  #header img {
    float: left; }
  #header li {
    border-width: 0 2px 0 0; }
  #header .logout {
    float: right;
    border-width: 0 0 0 2px; }

#content {
  padding: 5px 0 0 5px; }

h1 {
  margin-top: 0; }

.container {
  width: 328px;
  border: solid 4px;
  border-radius: 10px;
  padding: 8;
  border-color: #ffaa00;
  margin: 30px auto 0 auto; }
  .container h2 {
    margin: 0 0 -30 0;
    position: relative;
    top: -35;
    left: 10;
    z-index: 1;
    background-color: #cccccc;
    padding: 5;
    border: solid 4px;
    border-color: #ffaa00;
    border-radius: 20px; }

.form {
  border: solid 4px;
  border-radius: 10px;
  padding: 8px;
  border-color: #ffaa00;
  margin: 30px 5 0 0; }
  .form .campo {
    border-bottom: solid 1px; }

.formrequired {
  font-weight: bold;
  text-decoration: underline; }

#userpanel_container h2 {
  width: 193; }

#login_container h2 {
  width: 90; }
#login_container .error {
  overflow: auto; }
  #login_container .error span {
    overflow: hidden;
    float: right; }

.campo {
  overflow: auto; }
  .campo span {
    float: left; }
  .campo input, .campo select {
    float: right; }
