$font-stack: Arial, Helvetica, sans-serif;
$background-color: #FF8902;
$azultecnica: #3494FF;

$naranja-foco: #ef7902;


body {
    background-color: $background-color;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    
    font-family: $font-stack;
}

html {
    background-color: #000;
}

#header {
    box-shadow: 0px 0px 10px;

    img {
        float: left;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        border: $azultecnica solid;
        border-width: 0 2px 0 0;

        a:link, a:visited {
            display: block;
            color: black;
            font-weight: bold;
            background-color: $background-color;
            text-align: center;
            padding: 4px 10px;
            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover, a:active {
            background-color: $naranja-foco;
        }
    }

    .logout {
        float: right;
        border-width: 0 0 0 2px;
    }

}

#content {
    padding: 5px 0 0 5px;
}

h1 {
    margin-top: 0;
}

#login_container {
    width: 328px;
    border: solid 4px;
    border-radius: 10px;
    padding: 8;
    border-color: $azultecnica;
    margin: 30px auto 0 auto;

    h2 {
        margin: 0 0 -30 0;
        position: relative;
        top: -35;
        left: 10;
        z-index: 1;
        background-color: $background-color;
        width: 90;
        padding: 5;
        border: solid 4px;
        border-color: $azultecnica;
        border-radius: 20px;
    }

    .campo {
        overflow: auto;

        span {
            float: left;
        }

        input {
            float: right;
        }
    }

    .error {
        overflow: auto;
        span {
            overflow: hidden;
            float: right;
        }
    }
}

#userpanel_container {
    width: 328px;
    height: 44;
    border: solid 4px;
    border-radius: 10px;
    padding: 8;
    border-color: $azultecnica;
    margin: 30px auto 0 auto;

    h2 {
       margin: 0 0 -30 0;
        position: relative;
        top: -35;
        left: 10;
        z-index: 1;
        background-color: $background-color;
        width: 193;
        padding: 5;
        border: solid 4px;
        border-color: $azultecnica;
        border-radius: 20px;
    }

    .campo {
        overflow: auto;

        span {
            float: left;
        }

        a {
            float: right;
        }
    }
}